body{
    background-color:black;
}

p{ 
    color: rgb(131, 207, 255)
}

.MainText{
    color:azure;
    b{color: red;}
}

.linkmain{
    color: white;
    text-decoration: none;
}

.linkto{
    color: white;
    text-decoration: none;
}
.linkto::hover{
    color: rgba(0, 0, 255, 0.675);
    cursor: active;
}

.header{
    color: white;
    
}