/* Сброс базовых стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    background-color: #0d1117; /* Темный фон */
    color: #c9d1d9; /* Светлый текст */
    line-height: 1.6;
}

/* Заголовок */
header {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Центрируем по вертикали */
    padding: 20px 40px; /* Отступы сверху и снизу, слева и справа */
}

header h1 a{
    color: #ffffff; /* Цвет ссылок */
    text-decoration: none;
}

h1 {
    font-size: 2.5em; /* Размер заголовка */
    color: #ffffff; /* Белый цвет заголовка */
    margin: 0; /* Убираем отступы */
    text-align: left; /* Выровнять текст влево */
}

nav {
    margin-left: auto; /* Отодвигаем навигацию вправо */
}

nav ul {
    list-style: none;
    display: flex; /* Используем flexbox для горизонтального расположения */
}

nav ul li {
    margin: 0 20px; /* Отступы между элементами навигации */
}

nav a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #ffffff; /* Белый цвет ссылок */
    font-weight: 600;
    transition: color 0.3s; /* Плавный переход */
}

nav a:hover {
    color: #58a6ff; /* Цвет при наведении */
}

/* Основной контент */
main {
    max-width: 900px;
    margin: 40px auto; /* Центрирование */
    padding: 30px;   
}

/* Секции */
section {
    margin-bottom: 20px; /* Отступы между секциями */
}

h2 {
    font-size: 2.2em; /* Размер заголовка секций */
    color: #ffffff; /* Цвет заголовка секций */
    /* border-bottom: 2px solid #30363d; Убрали линию под заголовком */
    padding-bottom: 10px; /* Отступ снизу */
    margin-bottom: 20px; /* Отступ снизу */
}

p {
    margin: 7   px 0; /* Отступы для текста */
}

/* Стили для списков проектов */
ul {
    list-style-type: none; /* Убрать маркеры у списка */
}

ul li {
    margin: 10px 0; /* Отступ между элементами списка */
}

ul li a {
    color: #ffffff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

a {
    color: #ffffff; /* Цвет ссылок */
    text-decoration: hover; 
}
/* Подвал */
footer {
    text-align: center; /* Центрирование текста в подвале */
    padding: 30px 0;
    margin-top: 60px; /* Отступ сверху */
    background: #0d1117; /* Цвет подвала */
    color: #c9d1d9; /* Цвет текста */
    border-top: 1px solid #30363d; /* Линия сверху */
}
